<div id="skills" class="flex flex-col items-center justify-center min-h-screen">
  <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 mb-2 text-center" style="font-family: 'Rubik', sans-serif;">
    Habilidades
  </h2>
  <p class="text-xl text-gray-600 mb-32">Tecnologías con las que he trabajado</p>



  <main class="w-full">
    <ul class="list-none flex flex-wrap justify-center gap-8">
      <li class="flex flex-col items-center">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" class="h-16">
        <span class="text-xl mt-2">Angular</span>
      </li>
      <li class="flex flex-col items-center">
        <img src="https://nestjs.com/img/logo-small.svg" alt="NestJS" class="h-16">
        <span class="text-xl mt-2">NestJS</span>
      </li>
      <li class="flex flex-col items-center">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" alt="PostgreSQL" class="h-16">
        <span class="text-xl mt-2">PostgreSQL</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" class="h-16">
        <span class="text-xl mt-2">TypeScript</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python" class="h-16">
        <span class="text-xl mt-2">Python</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" class="h-16">
        <span class="text-xl mt-2">GitHub</span>
      </li>
    </ul>
  </main>
</div>
