<div class="flex flex-col items-center justify-center min-h-screen">
  <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900 mb-2 text-center"
    style="font-family: 'Rubik', sans-serif;">
    Habilidades
  </h2>
  <p class="text-3xl font-semibold text-gray-900 dark:text-white mb-12">Tecnologías que he utilizado</p>

  <main class="w-full text-gray-900 dark:text-white">
    <ul class="list-none flex flex-wrap justify-center gap-8">
      <li class="flex flex-col items-center">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" class="h-16">
        <span class="text-xl mt-2" style="font-family: 'Rubik', sans-serif;">Angular</span>
      </li>
      <li class="flex flex-col items-center">
        <img src="https://nestjs.com/img/logo-small.svg" alt="NestJS" class="h-16">
        <span class="text-xl mt-2" style="font-family: 'Rubik', sans-serif;">NestJS</span>
      </li>
      <li class="flex flex-col items-center">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
          alt="PostgreSQL" class="h-16">
        <span class="text-xl mt-2" style="font-family: 'Rubik', sans-serif;">PostgreSQL</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
          alt="Javascript" class="h-16" />
        <span class="text-xl mt-2" style="font-family: 'Rubik', sans-serif;">Javascript</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
        alt="TypeScript" class="h-16">
        <span class="text-xl mt-2" style="font-family: 'Rubik', sans-serif;">TypeScript</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
        alt="TypeScript" class="h-16">
        <span class="text-xl mt-2" style="font-family: 'Rubik', sans-serif;">React</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg"
        alt="TypeScript" class="h-16">
        <span class="text-xl mt-2" style="font-family: 'Rubik', sans-serif;">Nodejs</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python"
        class="h-16">
        <span class="text-xl mt-2" style="font-family: 'Rubik', sans-serif;">Python</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-plain.svg" alt="GitHub"
          class="h-16">
        <span class="text-xl mt-2 " style="font-family: 'Rubik', sans-serif;">Docker</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
          alt="Tailwind" class="h-16" />
        <span class="text-xl mt-2" style="font-family: 'Rubik', sans-serif;">Tailwind</span>
      </li>
      <li class="flex flex-col items-center ">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub"
          class="h-16">
        <span class="text-xl mt-2 " style="font-family: 'Rubik', sans-serif;">GitHub</span>
      </li>
    </ul>
  </main>
</div>
