button:focus {
  outline: none;
  box-shadow: none;
}
@keyframes colorChange {
  0% {
    border-color: #ccc; /* Gris claro */
  }
  25% {
    border-color: #f44336; /* Rojo */
  }
  50% {
    border-color: #4caf50; /* Verde */
  }
  75% {
    border-color: #2196f3; /* Azul */
  }
  100% {
    border-color: #ccc; /* Gris claro */
  }
}

.animated-line {
  animation: colorChange 4s infinite; /* Animación con duración de 4 segundos y repetición infinita */
  transition: border-color 0.3s ease-in-out; /* Suaviza el cambio de color */
}
