<div class="container mx-auto px-4 py-8 flex flex-col items-center justify-center min-h-screen">
  <h1 class="text-3xl font-bold text-center mt-12 mb-8" style="font-family: 'Rubik', sans-serif;">Proyectos más
    recientes</h1>
  <div class="flex flex-wrap justify-center items-center gap-2 w-full">

    <!-- Card 1 -->
    <div
      class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl w-full sm:w-[calc(50%-8px)] md:w-[calc(33.333%-8px)] max-w-[400px] h-[500px] flex flex-col">
      <span
        class="absolute top-10 z-0 h-20 w-20 rounded-full bg-black transition-all duration-300 group-hover:scale-[30] group-hover:bg-gray-700 opacity-0 group-hover:opacity-100"></span>

      <div class="relative z-10 mx-auto max-w-md flex-grow">
        <h2 class="text-2xl font-semibold text-gray-800 group-hover:text-white transition-all duration-300"> Gestión de
          Almacenes</h2>

        <div class="pt-2 flex space-x-4 group">
          <!-- Botón "Ver página" -->
          <a href="https://needvox.com" target="_blank"
            class="flex items-center bg-gray-200 text-black px-3 py-1.5 rounded-full text-sm group-hover:bg-white hover:bg-gray-800 group-hover:text-gray-800 transition-all duration-300 transform hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-5 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <span class="text-xs">Ver página</span>
          </a>

          <!-- Botón "Github" -->
          <a href="https://github.com/jaavispeed/needvox" target="_blank"
            class="flex items-center bg-gray-200 text-black px-3 py-1.5 rounded-full text-sm group-hover:bg-white hover:bg-gray-800 group-hover:text-gray-800 transition-all duration-300 transform hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
              class="h-5 mr-2" />
            <span class="text-xs">Github</span>
          </a>
        </div>

        <div
          class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90">
          <p>Needvox es una plataforma Full stack creada para gestionar almacenes de barrio, permitiendo controlar
            ventas,
            stock y productos en tiempo real. Con funcionalidades como la gestión de productos, historial de ventas,
            compras, administración de usuarios y seguridad, facilita el manejo eficiente del negocio.</p>
        </div>
      </div>

      <!-- Icons -->
      <div class="pt-5 flex justify-start items-center gap-4 z-20">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vercel/vercel-original.svg"
          class="h-8 w-8" />
      </div>
    </div>

    <!-- Card 2 -->
    <div
      class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl w-full sm:w-[calc(50%-8px)] md:w-[calc(33.333%-8px)] max-w-[400px] h-[500px] flex flex-col">
      <span
        class="absolute top-10 z-0 h-20 w-20 rounded-full bg-black transition-all duration-300 group-hover:scale-[30] group-hover:bg-gray-700 opacity-0 group-hover:opacity-100"></span>

      <div class="relative z-10 mx-auto max-w-md flex-grow">
        <h2 class="text-2xl font-semibold text-gray-800 group-hover:text-white transition-all duration-300">Agendamiento
          de Citas</h2>

        <div class="pt-2 flex space-x-4">
          <a href="https://xhinobarber.com" target="_blank"
            class="flex items-center bg-gray-200 text-black px-3 py-1.5 rounded-full text-sm group-hover:bg-white hover:bg-gray-800 group-hover:text-gray-800 transition-all duration-300 transform hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-5 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <span class="text-xs">Ver página</span>
          </a>
          <a href="https://github.com/jaavispeed/XhinoBarber.git" target="_blank"
            class="flex items-center bg-gray-200 text-black px-3 py-1.5 rounded-full text-sm group-hover:bg-white hover:bg-gray-800 group-hover:text-gray-800 transition-all duration-300 transform hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
              class="h-5 mr-2" />
            <span class="text-xs">Github</span>
          </a>
        </div>

        <div
          class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90">
          <p>Desarrollo Full stack de una plataforma de agendamiento creada específicamente para un barbero, permitiendo
            a sus clientes reservar cortes de pelo en línea, recibir notificaciones por correo y gestionar fácilmente
            confirmaciones o cancelaciones.</p>
        </div>
      </div>

      <!-- Icons -->
      <div class="pt-5 flex justify-start items-center gap-4 z-20">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vercel/vercel-original.svg"
          class="h-8 w-8" />
      </div>
    </div>


    <!-- Card 3 -->
    <div
      class="group relative cursor-pointer overflow-hidden bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl w-full sm:w-[calc(50%-8px)] md:w-[calc(33.333%-8px)] max-w-[400px] h-[500px] flex flex-col">
      <span
        class="absolute top-10 z-0 h-20 w-20 rounded-full bg-black transition-all duration-300 group-hover:scale-[30] group-hover:bg-gray-700 opacity-0 group-hover:opacity-100"></span>

      <div class="relative z-10 mx-auto max-w-md flex-grow">
        <h2 class="text-2xl font-semibold text-gray-800 group-hover:text-white transition-all duration-300">Sistema de
          autenticación</h2>

        <div class="pt-2 flex space-x-4">
          <a href="https://github.com/jaavispeed/login-and-register" target="_blank"
            class="flex items-center bg-gray-200 text-black px-3 py-1.5 rounded-full text-sm group-hover:bg-white hover:bg-gray-800 group-hover:text-gray-800 transition-all duration-300 transform hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
              class="h-5 mr-2" />
            <span class="text-xs">Github</span>
          </a>
        </div>

        <div
          class="space-y-6 pt-5 text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-white/90">
          <p>Este proyecto implementa un sistema básico de login, registro y un perfil de usuario que muestra los datos.
            Además, incluye protección de rutas, validación de formularios y manejo de errores.</p>
        </div>
      </div>

      <!-- Icons -->
      <div class="pt-5 flex justify-start items-center gap-4 z-20">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-original.svg" class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg"
          class="h-8 w-8" />
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
          class="h-8 w-8" />
      </div>
    </div>

  </div>
</div>
