<!-- component -->
<div id="projects" class="flex items-center justify-start h-screen bg-gradient-to-br ">
  <div class="bg-white font-semibold text-center rounded-3xl border shadow-2xl p-10 max-w-xs ml-16">
    <img class="mb-3 w-32 h-30 rounded-full shadow-2xl mx-auto" src="Foto_Carnet.jpeg" alt="Ingeniero Informático">
    <h1 class="text-lg text-gray-700">Needvox</h1>
    <h3 class="text-sm text-gray-400">Needvox.com</h3>

    <p class="text-xs text-gray-400 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
